:root {
  --system-color: #f17031;
  --bg: #fff;
  --text-color: #525252;
  --nav-bg: #f17031;
  --avatar-bg: #666;
  --h1-color: #555;
  --h2-color: #999;
  --mode-color: #f17031;
  --icon-color: #f17031;
  --input-bg: #fff;
  --input-color: #999;
  --box-shadow: 1px 1px 4px 1px #9e9e9e;
  --border: 1px solid rgba(228, 228, 228, 0.6);
  --avatar-1: #002aa8;
  --avatar-2: #5d005b;
  --avatar-3: #a8002a;
  --avatar-4: #a80073;
  --avatar-5: #923402;
  --avatar-0: #731c1c;
}
